body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Arvo', serif;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 240px;
  margin: 0 auto;
  font-size: x-large;
}

table, td {
  border: 1px solid black;
}

tr {
  line-height: 80px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  padding: 4px 4px 4px 4px;
  margin: 0px 4px 0px 4px;
}

.row {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

td div  {
  overflow: hidden;
  height: 80px;
}

tr .clickable {
  cursor: pointer;
  pointer-events: auto;
}

tr .clickable:hover {
  background-color: whitesmoke;
}

