h1 {
  font-family: 'Arvo', sans-serif;
  text-align: center;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 300px;
  margin: 0 auto;
}

table, td {
  border: 1px solid black;
}

tr {
  line-height: 100px;
  height: 100px;
}

.row {
  width: 100%;
}
